[submodule "src/roboy_interface"]
	path = src/roboy_interface
	url = https://github.com/Roboy/roboy_interface
[submodule "src/roboy_managing_node"]
	path = src/roboy_managing_node
	url = https://github.com/Roboy/roboy_managing_node
[submodule "src/roboy_communication"]
	path = src/roboy_communication
	url = https://github.com/Roboy/roboy_communication
[submodule "src/common_utilities"]
	path = src/common_utilities
	url = https://github.com/Roboy/common_utilities
[submodule "src/DarkRoom_rviz"]
	path = src/DarkRoom_rviz
	url = https://github.com/Roboy/DarkRoom_rviz
[submodule "src/roboy_simulation"]
	path = src/roboy_simulation
	url = https://github.com/Roboy/roboy_simulation
[submodule "src/roboy_dynamics"]
	path = src/roboy_dynamics
	url = https://github.com/Roboy/roboy_dynamics
[submodule "src/roboy_models"]
	path = src/roboy_models
	url = https://github.com/Roboy/roboy_models
[submodule "src/roboy_controlled_node_fpga"]
	path = src/roboy_controlled_node_fpga
	url = https://github.com/Roboy/roboy_controlled_node_fpga
[submodule "src/roboy_realsense"]
	path = src/roboy_realsense
	url = https://github.com/Roboy/roboy_realsense
[submodule "src/roboy_fpga"]
	path = src/roboy_fpga
	url = https://github.com/Roboy/roboy_fpga
[submodule "src/roboy_powerlink"]
	path = src/roboy_powerlink
	url = https://github.com/Roboy/roboy_powerlink
[submodule "src/PaBi_trajectories_control"]
	path = src/PaBi_trajectories_control
	url = https://github.com/Roboy/PaBi_trajectories_control.git
